jwt:
  key:
    public:
      path: /etc/secrets/public_key.pem
app:
  issuer: ${ISSUER}

spring:
  application:
    name: ProductsReview

  jackson:
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSS'Z'
    time-zone: UTC

  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI}
      auto-index-creation: ${SPRING_DATA_MONGODB_AUTO_INDEX_CREATION}

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, info, metrics
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

server:
  port: 8081
  servlet:
    context-path: /reviews/api
    session:
      timeout: 30m

springdoc:
  swagger-ui:
    path: /docs